<!DOCTYPE html>
<html>
    <head>
        <link href="../styles/style.css" rel="stylesheet">
        <meta charset="utf-8">
        <title>Marty Rudolf</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block page_content %}
        <div class="col-md-8 offset-md-2">
            <h1>Marty Rudolf</h1>
        </div>
        <div>
            <p>
                Welcome to my website! I am a third-year Computer Engineering with Software Co-op Option student
                at the University of Alberta.
            </p>
        </div>
        {% endblock %}
    </body>
</html>
        